/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /*font: inherit;*/
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* My code starts here*/

html{
	color: white;
	font-family: Verdana;
	text-align: center;
}

a, a:link{
	color: #C1E84D;
	text-decoration: underline;
}

a:hover{
	color:#C1E84D;
	text-decoration: none;
	text-transform: uppercase;
}

body{
	background-image: url('vegetables.jpg');
	background-attachment: fixed;
}

h1{
	font-size: 40px;
	margin-top: 20px;
	margin-bottom: 0px;
	text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

h2{
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 20px;
}

ul li{
	display:inline-block;
	list-style-type: none;
	padding:20px;
	text-align: left;
	font-size: 20px;
}

p{
	margin-bottom: 20px;
	margin-top: 20px;
}

.tags{
	background-color: rgba(0,0,0,0.6);
	padding:35px;
	color: #C1E84D;
	display: inline-block;
	text-transform: uppercase;
	margin-left: 20px;
	margin-right: 20px;
}

.content{
	margin-top: 80px;
	margin-left:110px;
	float:left;
	width: 60%;
	margin-bottom:80px;
	background-color:rgba(0,0,0,0.6);
	padding: 25px;
	line-height: 25px;
}

aside{
	margin-right:25px;
	margin-top: 80px;
	float:right;
	width: 20%;
	padding: 30px;
	background-color:rgba(0,0,0,0.6);
}

footer{
	background-color:rgba(0,0,0,0.6);
	width: 100%;
}

.clear{
	clear:both;
	padding: 25px;
}

.basket{
	float: left;
}

ol {
	display: inline-block;
	text-align: left;
	line-height: 30px;
	padding: 20px;
	list-style: decimal;
}


